@use '../mixins/pseudo.scss' as *;

.mobile{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 67px;
    width: 247px;
    height: 505px;
    
    margin-inline: auto;
   background-color: var(--mobile-bacground);
    border: 11px solid white;
    border-radius: 30px;
    overflow: hidden;
    &__header{
        display: flex;
        align-items: center;
        padding-inline: 16px;
        padding-top: 20px;
        height: 66px;
        background-image: var(--gradient);
        border-radius: 20px 20px 6px 6px;
        gap: .5rem;

        &::after{
        @include pseudo(129px, 29px){
            background-color: #fff;
            border-radius: 0 0 14px 14px;
            top: -11px;
            left: 50%;
            translate: -50%;
        }}
    }
    &__messages{
        display: flex;flex-direction: column;
        padding: 0.5rem;
    }
    &__message{
        color: var(--message-color);
        width: 50%;
        padding:6px 8px ;
        border-radius: 18px 10px 10px 4px;
        background-color: var(--message-background);
        font-size: 0.5rem;

        &--container{
            display: flex;
            gap: 0.5rem;
            & > *{
                width: 40px;
                border-radius: 10px;
            }
        }
        &--right{
            margin-left: auto;
        }
        &--right:not(&--container){
            background-color: #fff;
        }
        &--pay{
            background-image:var(--gradient);
            width: 60%;
            height: 25px;
            padding: 6px 9px;
            border-radius: 10px 10px 10px 4px;
            display: flex;
            align-items: center;
            color: white;
            justify-content: space-between;
            font-size: 0.6rem;
            margin-bottom: 10px;
            .circle{
                border: 1px solid white;
                border-radius:  50%; ;
                width: 10px;
                height: 10px;
            }
        }
        &--bar{
            margin-top: 15px;
            width: 213px;
            height: 40px;
            background-color: white;
            border-radius: 17px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text-bar{
                color: gray;
                margin-left: 25px;
                font-size: 0.7rem;
            }
            .arrow-bar{
                background-color: #3E2753;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-right: 10px;
                img{
                    margin-top: 7px;
                    margin-left: 10px;
                }
            }
        }

    }
}