:root {
  --bg-color: #FAFAFA;
  --gradient: linear-gradient(225deg,#E844FF, #8738FF);
  --mobile-bacground: #F5F3F7;
  --message-color:#9341CB;
  --message-background:#EEE5F4;
}

/* Variables SASS */
